body{

	font-family: Poppins,Arial;
	
}

@media(min-width:568px){
	.container-footer1{
	display:flex;
	border-top: 2px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	padding: 40px 20px;
	justify-content: center;
	text-align: center;
	/*justify-content: space-around;*/
	
	}

	.container-footer2{
	display:flex;
	border-bottom: 2px solid #dcdcdc;
	padding: 40px 20px;
	justify-content: center;
	/*justify-content: space-around;*/	
	
}

}

.footer-top{
	padding: 20px 0px;
}

.box-1{
 flex:1;
 text-align: center;
 
}

.box-2{
	flex:1;
	text-align: center;
}
.box-3{
	flex:1;
	text-align: center;
}
.box-4{
	flex:1;
	text-align: center;
}



.box-5{
	flex:1;
	text-align: center;

}

.box-6{
	flex:1;
	text-align: center;
}
.box-7{
	flex:1;
	text-align: center;
}
.box-8{
	flex:1;
	text-align: center;
}

.my-list{
	list-style: none;
}
.my-list{
	padding-left:4px;
}
.my-list li  {
	margin-top: 10px
	
}

.my-list li a {
	text-decoration: none;
	color:#565656;
	font-weight: 400;
	font-size: 13px;
}
.my-list li a:hover {
	
	
	font-weight: 600;
}
.info1{
	font-size: 18px;
	font-weight: 600;
	color: #565656;
}
.info{
	font-size: 15px;
	font-weight: 600;
	color: #565656;
}
.sp-sm{
	color:#565656;
	font-size: 13px;
	padding: 20px 0px;
}

.sp-sm1{
	color:#565656;
	font-size: 13px;
	padding: 20px 0px;
	
}
.btn-cyan{
	background-color: #00F1FF;
    color: #fff !important;
    border-color: #00F1FF;
    border-width: 2px;
    font: 700 14px/1.35 Poppins, Arial;
    -webkit-box-shadow: 0 2px 0 rgb(7, 213, 218,), 0 3px 0 #07d5d9;
    -moz-box-shadow: 0 2px 0 rgb(7, 213, 218), 0 3px 0 #07d5d9;
    box-shadow: 0 2px 0 rgb(7, 213, 218), 0 3px 0 #07d5d9;
    cursor: pointer;
    min-width: 150px;
    padding: 10px 15px;
    display: inline;
    border: 2px solid #00F1FF;
    text-decoration: none;
}

.get-blue:hover{
	background-color: #07d5d9 !important;
   
}


.form-control{
	margin-top: 12px !important;
	margin-bottom: 12px !important;
}

#custom-check{
	max-width: 14px;
	max-height: 14px;

}

.declare{
	color:#999999;
	font-size: 10px;
	font-weight: 400;
	font-family: Open Sans,sans-serif;

}

ul.social {
    margin: 0;
    padding: 0;
}

ul.social li {
    display: inline-block;
    margin-right: 7px;
}

ul.social li.vimeo a {
    background-position: -106px center;
    background-color: #ff0000;
}

ul.social li.instagram a {
    background-position: -159px center;
    background-color: #bc2a8d;
}

ul.social li.twitter a {
    background-position: -53px center;
    background-color: #5a8eca;
}

ul.social li a {
    background: url() no-repeat 0 center #3a599c;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -999em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.hy{
	color:#565656;
	font-weight:600;
	font-size:16px;
}
.hp{
	color:#565656;
	font: 600 14px/2 Poppins, Arial;
}

.hw{
	color:#565656;
	margin-bottom:20px;
}
.hd{
	color:#565656;
	font-weight:600;
	font-size:16px;

	
}
.hf{
	color:#565656;
	
}


.footer-payment-methods {
    margin: 30px auto 20px auto;
}

.footer-payment-methods img {
    margin-top: 5px;
}

.banner-top{
	background-color:#1CB78D;
	text-align: center;
	font-weight: 500;
	font-size: 1.4em;
	padding: 10px 0px;
}

.sectiont-left{
	background-color: #ffffff;
	margin-left: 40px;
}
.sectiont-right{
	background-color: #cccccc;
	border: 1px solid #cccccc;
}
.mybreadcrumb{

	margin-top: 10px;
	font-size: 12px;
	font-family: roboto,sans-serif;
	color:#737373;

}
.faf{
	font-size: 11px !important;
	color:#737373;
	padding-right: 4px;
}
 .my-font{

	font-size: 12px !important;
	font-family: roboto,sans-serif !important;
	color:#737373 !important;

}
.pay-with{
	text-align: center;
}
#bold-text{
	font-weight: 600;
	font-size: 14px;
	
}

.btn-yellow1{
	 border-radius: 4px;
	  background-color:#ffc439;
	   max-height: 40px;
	   max-width: 200px;
	   margin-top: 20px;
	   margin-right: 10px;
}

.btn-yellow2{
	 border-radius: 4px;
	 background-color:#FF9E13;
	 max-height: 40px;
	  max-width: 200px;
	  margin-top: 20px;
}

.two-buttons{
	float: left;
	display: inline;
	border: 1px solid #cccccc;
	
	max-width: 480px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom:20px;

}

#bold-un{

	
	font-size: 12px;
	font-family: roboto,sans-serif;
	color:#737373;
	text-align: center;

}
#space{
	padding-top: 40px;
	padding-bottom: 40px;
}
.right{
	float:right;
	font-family: roboto,sans-serif;
	font-size: 14px;

}
.left{
	color:#333333;
	font-family: roboto,sans-serif;
	font-size: 18px;

}
.reduce{
	
	font-family: roboto,sans-serif;
	font-size: 14px;
	color:#545454;
}
#name{
	margin-right: 20px;
	width: 200px;
}
#surname{
	width: 200px;
}
#country{
	margin-right: 6px;
	max-width: 130px;
}
#province{
	margin-right: 6px;
	max-width: 130px;
}
#postal{
	max-width: 130px;
}
.bdg:focus{

	box-shadow: 0 0 0 1px #00f1ff;
	border-color: #00f1ff;

}